In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('bank_branches_large.csv')

In [4]:
!ls

bank_branches_large.csv  bank_dataset.csv  bankdb.dump	trim_bank_dataset.ipynb

In [5]:
df.head()

,ifsc,bank_id,branch,address,city,district,state,bank_name
0,ABHY0065001,60,RTGS-HO,"ABHYUDAYA BANK BLDG., B.NO.71, NEHRU NAGAR, KU...",MUMBAI,GREATER MUMBAI,MAHARASHTRA,ABHYUDAYA COOPERATIVE BANK LIMITED
1,ABHY0065002,60,ABHYUDAYA NAGAR,"ABHYUDAYA EDUCATION SOCIETY, OPP. BLDG. NO. 18...",MUMBAI,GREATER MUMBAI,MAHARASHTRA,ABHYUDAYA COOPERATIVE BANK LIMITED
2,ABHY0065003,60,BAIL BAZAR,"KMSPM'S SCHOOL, WADIA ESTATE, BAIL BAZAR-KURLA...",MUMBAI,GREATER MUMBAI,MAHARASHTRA,ABHYUDAYA COOPERATIVE BANK LIMITED
3,ABHY0065004,60,BHANDUP,"CHETNA APARTMENTS, J.M.ROAD, BHANDUP, MUMBAI-4...",MUMBAI,GREATER MUMBAI,MAHARASHTRA,ABHYUDAYA COOPERATIVE BANK LIMITED
4,ABHY0065005,60,DARUKHANA,"POTIA IND.ESTATE, REAY ROAD (E), DARUKHANA, MU...",MUMBAI,GREATER MUMBAI,MAHARASHTRA,ABHYUDAYA COOPERATIVE BANK LIMITED

In [6]:
len(df['bank_id'].unique())

170

In [7]:
df = df[['ifsc', 'bank_id', 'bank_name', 'branch', 'address', 'city', 'district', 'state']]

In [8]:
df.head()

,ifsc,bank_id,bank_name,branch,address,city,district,state
0,ABHY0065001,60,ABHYUDAYA COOPERATIVE BANK LIMITED,RTGS-HO,"ABHYUDAYA BANK BLDG., B.NO.71, NEHRU NAGAR, KU...",MUMBAI,GREATER MUMBAI,MAHARASHTRA
1,ABHY0065002,60,ABHYUDAYA COOPERATIVE BANK LIMITED,ABHYUDAYA NAGAR,"ABHYUDAYA EDUCATION SOCIETY, OPP. BLDG. NO. 18...",MUMBAI,GREATER MUMBAI,MAHARASHTRA
2,ABHY0065003,60,ABHYUDAYA COOPERATIVE BANK LIMITED,BAIL BAZAR,"KMSPM'S SCHOOL, WADIA ESTATE, BAIL BAZAR-KURLA...",MUMBAI,GREATER MUMBAI,MAHARASHTRA
3,ABHY0065004,60,ABHYUDAYA COOPERATIVE BANK LIMITED,BHANDUP,"CHETNA APARTMENTS, J.M.ROAD, BHANDUP, MUMBAI-4...",MUMBAI,GREATER MUMBAI,MAHARASHTRA
4,ABHY0065005,60,ABHYUDAYA COOPERATIVE BANK LIMITED,DARUKHANA,"POTIA IND.ESTATE, REAY ROAD (E), DARUKHANA, MU...",MUMBAI,GREATER MUMBAI,MAHARASHTRA

In [9]:
df.columns = ['ifsc_code', 'bank_id', 'bank_name', 'branch', 'addres', 'city', 'district', 'state']

In [10]:
df.head()

,ifsc_code,bank_id,bank_name,branch,addres,city,district,state
0,ABHY0065001,60,ABHYUDAYA COOPERATIVE BANK LIMITED,RTGS-HO,"ABHYUDAYA BANK BLDG., B.NO.71, NEHRU NAGAR, KU...",MUMBAI,GREATER MUMBAI,MAHARASHTRA
1,ABHY0065002,60,ABHYUDAYA COOPERATIVE BANK LIMITED,ABHYUDAYA NAGAR,"ABHYUDAYA EDUCATION SOCIETY, OPP. BLDG. NO. 18...",MUMBAI,GREATER MUMBAI,MAHARASHTRA
2,ABHY0065003,60,ABHYUDAYA COOPERATIVE BANK LIMITED,BAIL BAZAR,"KMSPM'S SCHOOL, WADIA ESTATE, BAIL BAZAR-KURLA...",MUMBAI,GREATER MUMBAI,MAHARASHTRA
3,ABHY0065004,60,ABHYUDAYA COOPERATIVE BANK LIMITED,BHANDUP,"CHETNA APARTMENTS, J.M.ROAD, BHANDUP, MUMBAI-4...",MUMBAI,GREATER MUMBAI,MAHARASHTRA
4,ABHY0065005,60,ABHYUDAYA COOPERATIVE BANK LIMITED,DARUKHANA,"POTIA IND.ESTATE, REAY ROAD (E), DARUKHANA, MU...",MUMBAI,GREATER MUMBAI,MAHARASHTRA

In [11]:
len(df['bank_name'].unique())

170

In [12]:
df.shape

(127857, 8)

In [13]:
len(df['ifsc_code'].unique())

127857

In [14]:
df['bank_name'].unique()

array(['ABHYUDAYA COOPERATIVE BANK LIMITED', 'STATE BANK OF INDIA',
       'ABU DHABI COMMERCIAL BANK', 'THE ROYAL BANK OF SCOTLAND N V',
       'THE AKOLA DISTRICT CENTRAL COOPERATIVE BANK',
       'AKOLA JANATA COMMERCIAL COOPERATIVE BANK', 'ALLAHABAD BANK',
       'ANDHRA BANK', 'STATE BANK OF PATIALA', 'DENA BANK',
       'BANK OF INDIA', 'AHMEDABAD MERCANTILE COOPERATIVE BANK',
       'CENTRAL BANK OF INDIA', 'CANARA BANK', 'FEDERAL BANK',
       'THE ANDHRA PRADESH STATE COOPERATIVE BANK LIMITED',
       'AUSTRALIA AND NEW ZEALAND BANKING GROUP LIMITED',
       'THE HASTI COOP BANK LTD', 'APNA SAHAKARI BANK LIMITED',
       'ANDHRA PRAGATHI GRAMEENA BANK', 'BANK OF BARODA', 'IDBI BANK',
       'ICICI BANK LIMITED', 'ALMORA URBAN COOPERATIVE BANK LIMITED',
       'THE A.P. MAHESH COOPERATIVE URBAN BANK LIMITED', 'INDIAN BANK',
       'BASSEIN CATHOLIC COOPERATIVE BANK LIMITED',
       'ORIENTAL BANK OF COMMERCE', 'PRAGATHI KRISHNA GRAMIN BANK',
       'PUNJAB NATIONAL BANK', 'STATE BANK OF HYDERABAD',
       'BANDHAN BANK LIMITED', 'BARCLAYS BANK',
       'BANK OF BAHARAIN AND KUWAIT BSC',
       'BHARAT COOPERATIVE BANK MUMBAI LIMITED', 'BANK OF CEYLON',
       'BHARATIYA MAHILA BANK LIMITED', 'STATE BANK OF MYSORE',
       'B N P PARIBAS', 'BANK OF AMERICA',
       'BANK OF TOKYO MITSUBISHI LIMITED', 'UCO BANK', 'CITI BANK',
       'CITIZEN CREDIT COOPERATIVE BANK LIMITED', 'JP MORGAN BANK',
       'CITY UNION BANK LIMITED', 'CAPITAL LOCAL AREA BANK LIMITED',
       'CORPORATION BANK', 'CATHOLIC SYRIAN BANK LIMITED',
       'THE DELHI STATE COOPERATIVE BANK LIMITED', 'DHANALAKSHMI BANK',
       'UNITED BANK OF INDIA', 'THE COSMOS CO OPERATIVE BANK LIMITED',
       'SHRI CHHATRAPATI RAJASHRI SHAHU URBAN COOPERATIVE',
       'CREDIT SUISEE AG',
       'CREDIT AGRICOLE CORPORATE AND INVESTMENT BANK CAL',
       'COMMONWEALTH BANK OF AUSTRALIA',
       'CHINATRUST COMMERCIAL BANK LIMITED',
       'DEVELOPMENT BANK OF SINGAPORE', 'DCB BANK LIMITED',
       'DEUSTCHE BANK',
       'DEPOSIT INSURANCE AND CREDIT GUARANTEE CORPORATIO',
       'DOMBIVLI NAGARI SAHAKARI BANK LIMITED', 'DOHA BANK QSC',
       'DOHA BANK', 'EXPORT IMPORT BANK OF INDIA', 'AXIS BANK',
       'YES BANK', 'FIRSTRAND BANK LIMITED',
       'THE GREATER BOMBAY COOPERATIVE BANK LIMITED',
       'THE GADCHIROLI DISTRICT CENTRAL COOPERATIVE BANK ',
       'THE GUJARAT STATE COOPERATIVE BANK LIMITED', 'HDFC BANK',
       'HSBC BANK', 'WOORI BANK', 'BANK INTERNASIONAL INDONESIA',
       'INDUSTRIAL BANK OF KOREA',
       'INDUSTRIAL AND COMMERCIAL BANK OF CHINA LIMITED',
       'INDIAN OVERSEAS BANK', 'JAMMU AND KASHMIR BANK LIMITED',
       'IDFC BANK LIMITED', 'INDUSIND BANK',
       'THE KANGRA CENTRAL COOPERATIVE BANK LIMITED',
       'JANASEVA SAHAKARI BANK LIMITED',
       'JANASEVA SAHAKARI BANK BORIVLI LIMITED',
       'JALGAON JANATA SAHAKARI BANK LIMITED',
       'THE JALGAON PEOPELS COOPERATIVE BANK LIMITED',
       'JANAKALYAN SAHAKARI BANK LIMITED', 'JANATA SAHAKARI BANK LIMITED',
       'KALLAPPANNA AWADE ICHALKARANJI JANATA SAHAKARI BA',
       'THE KANGRA COOPERATIVE BANK LIMITED', 'KARNATAKA BANK LIMITED',
       'KAPOL COOPERATIVE BANK LIMITED',
       'KALUPUR COMMERCIAL COOPERATIVE BANK',
       'KOTAK MAHINDRA BANK LIMITED', 'KALYAN JANATA SAHAKARI BANK',
       'KERALA GRAMIN BANK', 'THE KURMANCHAL NAGAR SAHAKARI BANK LIMITED',
       'THE KARANATAKA STATE COOPERATIVE APEX BANK LIMITE',
       'THE KARAD URBAN COOPERATIVE BANK LIMITED', 'KARUR VYSYA BANK',
       'KARNATAKA VIKAS GRAMEENA BANK', 'LAXMI VILAS BANK',
       'BANK OF MAHARASHTRA', 'MAHARASHTRA STATE COOPERATIVE BANK',
       'THE MEHSANA URBAN COOPERATIVE BANK', 'MAHANAGAR COOPERATIVE BANK',
       'THE MUMBAI DISTRICT CENTRAL COOPERATIVE BANK LIMI',
       'MIZUHO CORPORATE BANK LIMITED', 'MASHREQBANK PSC',
       'THE MUNICIPAL COOPERATIVE BANK LIMITED',
       'NATIONAL AUSTRALIA BANK LIMITED',
       'NATIONAL BANK OF ABU DHABI PJSC',
       'NAGPUR NAGARIK SAHAKARI BANK LIMITED',
       'NEW INDIA COOPERATIVE BANK LIMITED',
       'NKGSB COOPERATIVE BANK LIMITED', 'THE NAINITAL BANK LIMITED',
       'THE NASIK MERCHANTS COOPERATIVE BANK LIMITED',
       'NUTAN NAGARIK SAHAKARI BANK LIMITED', 'THE BANK OF NOVA SCOTIA',
       'NAGAR URBAN CO OPERATIVE BANK', 'G P PARSIK BANK',
       'PUNJAB AND MAHARSHTRA COOPERATIVE BANK', 'PRATHAMA BANK',
       'PRIME COOPERATIVE BANK LIMITED', 'PUNJAB AND SIND BANK',
       'THE RAJASTHAN STATE COOPERATIVE BANK LIMITED',
       'STATE BANK OF BIKANER AND JAIPUR', 'RABOBANK INTERNATIONAL',
       'RATNAKAR BANK LIMITED', 'RESERVE BANK OF INDIA',
       'RAJKOT NAGRIK SAHAKARI BANK LIMITED',
       'RAJGURUNAGAR SAHAKARI BANK LIMITED', 'SBER BANK',
       'SAHEBRAO DESHMUKH COOPERATIVE BANK LIMITED',
       'STATE BANK OF TRAVANCORE', 'STANDARD CHARTERED BANK',
       'THE SURAT DISTRICT COOPERATIVE BANK LIMITED', 'SHINHAN BANK',
       'SOUTH INDIAN BANK', 'SOLAPUR JANATA SAHAKARI BANK LIMITED',
       'SHIKSHAK SAHAKARI BANK LIMITED',
       'SUMITOMO MITSUI BANKING CORPORATION', 'SOCIETE GENERALE',
       'THE SURATH PEOPLES COOPERATIVE BANK LIMITED',
       'SARASWAT COOPERATIVE BANK LIMITED',
       'THE SHAMRAO VITHAL COOPERATIVE BANK', 'SYNDICATE BANK',
       'SBM BANK MAURITIUS LIMITED',
       'SURAT NATIONAL COOPERATIVE BANK LIMITED',
       'SUTEX COOPERATIVE BANK LIMITED',
       'THE SEVA VIKAS COOPERATIVE BANK LIMITED', 'UNION BANK OF INDIA',
       'THE THANE BHARAT SAHAKARI BANK LIMITED',
       'THE THANE DISTRICT CENTRAL COOPERATIVE BANK LIMIT',
       'TUMKUR GRAIN MERCHANTS COOPERATIVE BANK LIMITED',
       'TJSB SAHAKARI BANK LTD', 'TJSB SAHAKARI BANK LIMITED',
       'TAMILNAD MERCANTILE BANK LIMITED',
       'THE TAMIL NADU STATE APEX COOPERATIVE BANK',
       'UNITED OVERSEAS BANK LIMITED', 'ING VYSYA BANK',
       'THE WEST BENGAL STATE COOPERATIVE BANK', 'VIJAYA BANK',
       'THE VARACHHA COOPERATIVE BANK LIMITED',
       'THE VISHWESHWAR SAHAKARI BANK LIMITED',
       'VASAI VIKAS SAHAKARI BANK LIMITED', 'WESTPAC BANKING CORPORATION',
       'THE ZOROASTRIAN COOPERATIVE BANK LIMITED',
       'ZILA SAHAKRI BANK LIMITED GHAZIABAD'], dtype=object)

In [15]:
smaller_df = df.loc[df['bank_name'] == 'ICICI BANK LIMITED'].head(1000)

In [16]:
pnb  = df.loc[df['bank_name'] == 'PUNJAB NATIONAL BANK'].head(1000)

In [17]:
banks = ['CORPORATION BANK','BANK OF AMERICA', 'UCO BANK', 'CITI BANK',   'DOHA BANK', 'EXPORT IMPORT BANK OF INDIA', 'AXIS BANK',
       'YES BANK', 'FIRSTRAND BANK LIMITED',
       'THE GREATER BOMBAY COOPERATIVE BANK LIMITED',  'BANK OF INDIA', 'AHMEDABAD MERCANTILE COOPERATIVE BANK',
       'CENTRAL BANK OF INDIA', 'CANARA BANK', 'FEDERAL BANK',  'IDFC BANK LIMITED', 'INDUSIND BANK', 'CREDIT SUISEE AG']

In [18]:
len(banks)

18

In [19]:
for bank in banks:
    b_df = df.loc[df['bank_name'] == bank].head(1000)
    smaller_df = smaller_df.append(b_df)

In [20]:
len(smaller_df)

10027

In [21]:
smaller_df.head()

,ifsc_code,bank_id,bank_name,branch,addres,city,district,state
8086,ICIC0006087,8,ICICI BANK LIMITED,MANNARGUDI,THIRUVARUR DIST,MANNARGUDI,THIRUVARUR,TAMIL NADU
8131,ICIC0006285,8,ICICI BANK LIMITED,MEERUT┬á,MEERUT┬á,MEERUT,MEERUT,UTTAR PRADESH
8384,ICIC0006855,8,ICICI BANK LIMITED,BARAN,"MAIN BAZAR,BARAN-325205",BARAN,BARAN,RAJASTHAN
40790,ICIC0006689,8,ICICI BANK LIMITED,POTLAN,"POTLAN-311810,GANGAPUR TALUKA",POTLAN,BHILWARA,RAJASTHAN
41269,ICIC0006802,8,ICICI BANK LIMITED,ABU ROAD,"SADAR BAZAR,ABU ROAD,TEH.ABU ROAD,307026",ABU ROAD,SIROHI,RAJASTHAN

In [22]:
smaller_df = smaller_df.head(9999)

In [23]:
smaller_df.shape

(9999, 8)

In [24]:
smaller_df.to_csv('bank_dataset.csv')

In [25]:
ls

bank_branches_large.csv  bank_dataset.csv  bankdb.dump  trim_bank_dataset.ipynb

In [26]:
smaller_df.shape

(9999, 8)

In [ ]:
smal